@model System.Collections.Generic.List<GigHub.Models.ApplicationUser>

@{
    ViewBag.Title = "title";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>
